body{
    background-color: rgb(225,225,230);
}

#one{
    font-size: 15px;
    justify-content: center;
}
#two{
    font-size: 15px;
    justify-content: center;
}
#three{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    column-gap:20px;
    cursor: pointer;
}
#four{
    background-image: url("logo.png");
    background-position: center;
    background-size: 200px;
    width:300px;
    height:200px;
    border-radius: 50px;
    border: 1px solid black;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
